#title-heading{
    color:green;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}
/* #navigation-bar{
    background-color: lightblue;
} */
nav{
    text-align: center;
}
nav ul{
    text-align: center;
    list-style-type: none;
    display: inline-block;
}
nav li{
    display: inline;
}
nav a{
    background-color: lightblue;
    text-decoration: none;
    color: blue;
}
.pfp{
    border:5px solid #000000; 
    padding:3px; 
    margin:5px
}